diff --git a/.gitignore b/.gitignore
index 2f9956fd6218ec47d4c9d17b888bffd590f5fe0b..e43f55c40f4a47bd03e9fab34740e68d9b5f6e2a 100644
--- a/.gitignore
+++ b/.gitignore
@@ -129,25 +129,27 @@ pyrightconfig.json
 # mkdocs documentation
 /site
 
 # mypy
 .mypy_cache/
 .dmypy.json
 dmypy.json
 
 # Pyre type checker
 .pyre/
 
 # pytype static type analyzer
 .pytype/
 
 # profiling data
 .prof
 
 # End of https://www.toptal.com/developers/gitignore/api/python
 # Custom exclusions:
 .DS_Store
 
 # Playground
 playground.py
 _2022/wordle/data/pattern_matrix.npy
 _2022/piano/data/
+renders/
+_2025/svd/svd_animation.gif

